body{
	background-image: url(/images/gta.jpg);
}


img:hover {
	-webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.1);
}



a {  
	color: white !important; 
}

a:hover {
	text-decoration: underline;  
	color: white !important;
	font-size:150%; 
}

h5, p  {
	color: white;
}

