

img:hover {
	-webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.1);
}



a {  
	color: white !important; 
}

a:hover {
	text-decoration: underline;  
	color: white !important;
	font-size:150%; 
}

h5, p  {
	color: white;
}
.p2{
	width: 500px !important;
}

.p1{
	margin-left: 30%;
}

.login-container{
    margin: 0;
    margin-bottom: 5%;
}

.login-form-1{
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    
}
.login-form-2{
    background-color: #aaa;
    height: 100%;
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}

.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    margin-left: 25%;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;

}


.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
img{
	margin-left: 40%;
}
fieldset{
    border-radius: 10px;
}
#menu ul{
    padding: 0px;
    margin: 0px;
    background-color: #EDEDED;
    list-style: none;
}
#menu ul li{
    display: inline;
}

.row{
    height: 100%;
}

.list1{
    background-color: #aaa !important;
    border-color: #aaa !important;

}

.list2{
    background-color: #aaa !important;
    border-color: #aaa !important;

}

.list-group-item{
    color: black !important;
}
.list-group-item .active{
    color: white !important;
}
h4, h6{
    color: white;
}